body{
    background: no-repeat top right url(images/img_4622_3.jpg);
    background-color: rgb(16,16,16);
    font-family: Tahoma sans-serif;
}

*{
    border: 1px none blue;
}

@font-face {
    font-family: 'neoretrodrawregular';
    src: url("neoretrodraw_regular_macroman/NEORD___-webfont.woff") format('woff');
}
.container{
    background-color: rgb(200,200,200);
}

#header{
    margin: 20px auto;
}


h1{
    font-family: "neoretrodrawregular";
    font-size: 5rem;
}

.carousel-caption {
  position: absolute;
  right: 10%;
  bottom: 0px;
  left: 10%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
}

.header {
    text-align: center;
}

#navigateur{
    margin: 20px auto;
    background-color: rgb(252,252,252);
}
video{
    background-color: rgb(70,70,70);
}
h2 {
    margin: 10px;
    background-color: rgb(62,62,62);
    border-radius: 10px;
    color: rgb(252,252,252);
    font-family: "neoretrodrawregular";
}
.card{
    background-color: rgb(252,252,252);
    margin: 5px;
}

h4{
    margin: 10px;
    padding: 10px;
    background-color: rgb(252,252,252);
    border-radius: 10px;
}
.nouveau{
    font-weight: bold;
}

.btn-outline-secondary {
  color: rgb(62,62,62);
  border-color: rgb(62,62,62);
}

.btn-outline-secondary:hover {
  background-color: rgb(62,62,62);
}

.btn-secondary {
    background-color: rgb(62,62,62);
}

.btn-secondary:hover {
    background-color: rgb(106,106,106);
 }

table {
    border-collapse: separate;
    empty-cells: hide;
}

td, th {
    border: 1px solid #839FB5;
    text-align: center;
    padding: 5px;
}

caption{
    caption-side: top-outside;
}

p, ul{
    text-align: justify;
    margin:5px;
    padding: 5px;
}

#siteffme{
    color: rgb(0,154,217);
    margin: auto;
}

#logoFfme{
    margin: 10px;
}

#footer{
    text-align: center;
}

