body{
    background-color: black;
    color: white;
}
*{
    border: 1px solid blue;
}
#header{
    margin-top: 10px;
}

h1{
    text-align: center;
}

#accroche{
    text-align: center;
}

#interieur, #exterieur {
    max-height: 350px;
    margin: auto;
}

.carousel-caption {
    margin: 0;
}