body{
    background-image: url(images/fond.jpg);
    text-align: justify;
}

*{
    border: 1px none blue;
}

@font-face {
    font-family: 'neoretrodrawregular';
    src: url("neoretrodraw_regular_macroman/NEORD___-webfont.woff") format('woff');
}
.container{
    background-color: rgba(136,136,136,0.9);
}

#header{
    margin: 20px auto;
}

h1{
    text-align: center;
    font-family: "neoretrodrawregular";
    font-size: 5rem;
}

#accroche{
    text-align: center;
}

#interieur, #exterieur {
    max-height: 350px;
    margin: auto;
}

#navigateur{
    margin: 20px auto;

}

h2 {
    margin: 10px;
    background-color: rgb(70,70,70);
    text-align: center;
    border-radius: 10px;
    color: white;
}

.nouveau{
    font-weight: bold;
}

figcaption {
    font-size: 0.8rem;
}

table {
    border-collapse: separate;
    empty-cells: hide;
}

td, th {
    border: 1px solid #839FB5;
    text-align: center;
    padding: 5px;
}

caption{
    caption-side: top;
}

/* flux actualité ffme*/.rss_titre {
                            margin: 5px;
                            width: 47%;
                            float:left;
                        }
                        .post_results {
                            margin: 5px;
                            width: 47%;
                            border:1px solid #444;
                            float:left;
                        }
                        .post_results ul {
                            list-style:none;
                            text-align:left;
                            padding:0;
                            margin: 0;
                        }
                        .post_results ul li {
                            background: #eeeeee;
                            background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera11.10+ */
                            background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
                            background: linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* W3C */

                            padding: 10px;
                        }
                        .post_results ul li:hover{
                            background: #eee;
                        }
                        .post_results ul li a{
                            color: #222;
                            display: block;
                            font-size: 13px;
                            font-weight: bold;
                            text-align: center;
                            text-decoration: none;
                            margin-bottom:5px;
                        }
                        .post_results ul li a:hover{
                            color: #999;
                        }
                        .post_results ul li p {
                            color: #222;
                            font-size: 12px;
                            margin: 0;
                        }